body {
  background-color: black;
}

h1 {
  display: flex;
  font-family: "Times new roman";
  justify-content: center;
  color: rgb(89, 115, 132);
}

p {
  display: flex;
  justify-content: center;
  color: rgb(89, 115, 132);
}
